/**
 * border radius
 */

.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

/* cart badge */

.cart-badge,
.cart-badge:hover {
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  font-style: italic;
  background: #000;
}
/**
  * single product page - product name
  */

.name {
  background: indigo;
  color: #fff;
  font-weight: bold;
}

/* black shade form 10-1 */
.black-10 {
  background: #f2f2f2;
}
.black-9 {
  background: #e6e6e6;
}
.black-8 {
  background: #d9d9d9;
}
.black-7 {
  background: #cccccc;
}
.black-6 {
  background: #bfbfbf;
}
.black-5 {
  background: #b3b3b3;
}

/**
  * product image on card
  */

.product-img {
  min-height: 100px;
}

.jumbotron h2 {
  margin-top: -20px;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 768px) {
  .wrap {
    background: #a23f25 !important;
    height: 84px !important;
  }
}

/* Search bar */
.header-search {
  display: inline-block;
  max-width: 400px;
  padding: 8px 0px;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  border: none;
  /*background-color: transparent;*/
  -webkit-box-shadow: 0px 0px 0px 1px #dadada inset, 0px 0px 0px 5px transparent;
  box-shadow: 0px 0px 0px 1px #dadada inset, 0px 0px 0px 5px transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.header-search > form .search-input {
  padding-left: 150px;
  padding-right: 45px;
}

.header-search > form {
  position: relative;
}

.header-search > form .search-input {
  padding-left: 150px;
  padding-right: 45px;
}

.header-search > form .search-categories {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 135px;
}

.header-search > form .search-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: #a23f25;
}

/*  End Search Bar style */
