/**
 * border radius
 */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

/* cart badge */

.cart-badge,
.cart-badge:hover {
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  font-style: italic;
  background: #000;
}
/**
  * single product page - product name
  */

.name {
  background: indigo;
  color: #fff;
  font-weight: bold;
}

/* black shade form 10-1 */
.black-10 {
  background: #f2f2f2;
}
.black-9 {
  background: #e6e6e6;
}
.black-8 {
  background: #d9d9d9;
}
.black-7 {
  background: #cccccc;
}
.black-6 {
  background: #bfbfbf;
}
.black-5 {
  background: #b3b3b3;
}

@media only screen and (max-width: 768px) {
  .wrap {
    background: #a23f25 !important;
    /*height: 84px !important;*/
  }
}

@media only screen and (max-width: 360px) {
  .navbar > .container > span {
    display: none;
  }
}

/* Search bar */
.header-search {
  display: inline-block;
  max-width: 400px;
  padding: 8px 0px;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 1px #dadada inset, 0px 0px 0px 5px transparent;
  box-shadow: 0px 0px 0px 1px #dadada inset, 0px 0px 0px 5px transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: #cccccc !important;
}

.header-search > form .search-input {
  padding-left: 150px;
  padding-right: 45px;
}

.header-search > form {
  position: relative;
}

.header-search > form .search-input {
  padding-left: 150px;
  padding-right: 45px;
  color: #cccccc !important;
}

.header-search > form .search-categories {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 135px;
  color: #cccccc !important;
}

.header-search > form .search-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: #fff !important;
}

input[type='text']:focus,
select:focus {
  outline: 1px solid orange; /* oranges! yey */
}

/*  End Search Bar style */

/* Other custorm style */
.filter-heading {
  border-bottom: solid 1px #a23f22;
  font-weight: bold;
}

/* Cart dropdown */

.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #b7472a;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
}

.cart-dropdwon-empty-message {
  font-size: 18px;
  margin: 50px auto;
}

.cart-dropdown-item-container {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.cart-item {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 15px;
}

.cart-item img {
  width: 30%;
}

.cart-item-details {
  font-size: 12px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
}

/* Make up arrow always visible */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
